h1{
    text-align: center;
    margin: 30px;
}
.divPrincipal{
    height: 100vh;
    background-image: url("/public/assets/bgdigital\ \(2\).png") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}