.ItemCart{
    display: flex;
    align-items: center;
    justify-content: center;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

th{
    width: 150px;
}

.imgDetail2{
max-width: 130px;
}

.eliminar{
    background-color: rgb(255, 88, 88);
    transition: all 1s ;
}

